<div class="container post">
  <div class="row justify-content-center">
    <div class="col-md-7 mb-4">
      <h1><%= @the_post.title %></h1>
      <p><%= simple_format(@the_post.body) %></p>
    </div>
    <div class="col-md-5">
      <%= form_for(Comment.new, html: {class: "mb-5"}) do |f| %>

        <div class="comment-categories">
          <div class="comment-category">
            <div class="icon-container large claim selected">
              <img src='/claim-icon.webp'>
            </div>
            <div class="text-center">Claim</div>
          </div>
          <div class="comment-category">
            <div class="icon-container large evidence">
              <img src='/evidence-icon.webp'>
            </div>
            <div class="text-center">Evidence</div>
          </div>
          <div class="comment-category">
            <div class="icon-container large reasoning">
              <img src='/reasoning-icon.webp'>
            </div>
            <div class="text-center">Reasoning</div>
          </div>
          <div class="comment-category">
            <div class="icon-container large counter">
              <img src='/counter-icon.webp'>
            </div>
            <div class="text-center">Counter</div>
          </div>
        </div>

        <div class="category-desc mb-2">
          <%= CommentCategory.find_by(name: "Claim").description %>
        </div>

        <div class="form-group">
          <%= f.text_area :body, class: "form-control" %>
        </div>
        <%= f.hidden_field :post_id, value: @the_post.id %>
        <%= f.hidden_field :commenter_id, value: @current_user.try(:id) %>
        <%= hidden_field_tag :comment_category, {}, value: "claim" %>
        <%= f.submit "Submit", class: "btn btn-primary" %>
      <% end %>
      <% Comment.where(post_id: @the_post.id, comment_id: nil).order(created_at: :asc).each do |comment| %>
        <div class="card comment mt-3">
          <div class="card-body">
            <h5>
              <span class="tag <%= comment.comment_category.name.downcase %>"></span>
              <span><%= comment.comment_category.name %></span>
            </h5>
            <p class="text-muted"><small>
              created <%= time_ago_in_words(comment.created_at) %> ago by
              <% if comment.commenter %>
                <%= comment.commenter.username %>
              <% else %>
                anonymous
              <% end %>
            </small></p>
            <p><%= comment.body %></p>

            <div class="nested-comments">
              <% comment.comments.each do |nested_comment| %>
                <hr>
                <div class="nested-comment">
                  <h5>
                    <span class="tag <%= nested_comment.comment_category.name.downcase %>"></span>
                    <span><%= nested_comment.comment_category.name %></span>
                  </h5>
                  <p class="text-muted"><small>
                    created <%= time_ago_in_words(nested_comment.created_at) %> ago by
                    <% if nested_comment.commenter %>
                      <%= nested_comment.commenter.username %>
                    <% else %>
                      anonymous
                    <% end %>
                  </small></p>
                  <p><%= nested_comment.body %></p>
                </div>
              <% end %>
            </div>

            <div class="icon-bar">
              <div class="comment-category">
                <div class="icon-container small claim" data-category="claim"></div>
              </div>
              <div class="comment-category">
                <div class="icon-container small evidence" data-category="evidence"></div>
              </div>
              <div class="comment-category">
                <div class="icon-container small reasoning" data-category="reasoning"></div>
              </div>
              <div class="comment-category">
                <div class="icon-container small counter" data-category="counter"></div>
              </div>
              <div class="icon-desc"></div>
              <%= form_for(Comment.new, html: {id: "comment-for-comment-#{comment.id}", class: "comment-for-comment-form"}) do |f| %>
                <div><strong>Submit <span class="category"></span></strong></div>
                <div class="form-group">
                  <%= f.text_area :body, class: "form-control" %>
                </div>
                <%= f.hidden_field :post_id, value: @the_post.id %>
                <%= f.hidden_field :comment_id, value: comment.id %>
                <%= f.hidden_field :commenter_id, value: @current_user.try(:id) %>
                <%= hidden_field_tag :comment_category, {}, value: "claim" %>
                <%= f.submit "Submit", class: "btn btn-primary" %>
              <% end %>
            </div>

          </div>
        </div>
      <% end %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h2>Related Posts</h2>
      <% Post.order(created_at: :desc).limit(3).each do |post| %>
          <a href="<%= post_path(post.id) %>" class="related-post">
            <span class="title"><%= post.title %></span>
          </a>
      <% end %>
    </div>
  </div>
</div>

<script>
  var categoryDescriptions = {
    claim: "<%= CommentCategory.find_by(name: "Claim").description %>",
    evidence: "<%= CommentCategory.find_by(name: "Evidence").description %>",
    reasoning: "<%= CommentCategory.find_by(name: "Reasoning").description %>",
    counter: "<%= CommentCategory.find_by(name: "Counter").description %>",
  }
  $(".icon-container").click(function(){
    $(this).parent().parent().find(".icon-container.selected").removeClass("selected");
    $(this).addClass("selected");
    if ($(this).hasClass("large")){
      var commentCategory = $(this).next().html().toLowerCase();
      $("#comment_category").val(commentCategory);
      $(".category-desc").html(categoryDescriptions[commentCategory])
    }
    if ($(this).hasClass("small")){
      $parentComment = $(this).closest(".comment");
      $parentComment.addClass("form-visible");
      var $category = $(this).data("category");
      $parentComment.find(".comment-for-comment-form .category").html($category);
      $parentComment.find("#comment_category").val($category);
    }
  })

  $(".comment").hover(function(){
    $(this).find(".icon-bar").addClass("visible");
  }, function() {
    $(this).find(".icon-bar").removeClass("visible");
  })

  $(".icon-container.small").hover(function(){
    var $iconDesc = $(this).parent().parent().find(".icon-desc");
    var $category = $(this).data("category");
    $iconDesc.html("Submit " + $category);
  }, function(){
    var $iconDesc = $(this).parent().parent().find(".icon-desc");
    $iconDesc.html("");
  })
</script>
